*{
    margin: 0px;
    padding: 0px;
    /* color: #033048; */
    /* background-color: gray; */
}

.Top_of_the_page{
    background-color: #033048;
    /* background-color: rgb(10, 8, 83); */
    /* margin-top: 0 auto; */
    height: auto;
    /* padding: 0; */
    display: grid;
    gap: 30px;
    grid-template-columns: auto auto;
}

.Top_of_the_page>div.top_nav{
    margin: 15px;
    font-size: 20px;
}

div.top_nav{
    float: right;
}

.top_nav>a{
    text-decoration: none;
    color: #f9e42e;
    /* font-family: "Myraid pro Semibold"; */
    font-weight: 600;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    /* color: rgb(233, 176, 20);   */
    justify-content: space-around;
    padding: 1em;
    padding-top: 1em;
}
.logo{
    font-size: 40px;
    font: large;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 800;
    color: white;
    margin: 10px;
    /* padding: 1em; */
    /* grid-column: 1 / span 3; */
}

.body_of_contents{
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 15px;
    margin: 0 auto;
    padding-left: 10%;
    background-color: gainsboro;
}

.ad{
    background-color: white;
    text-align: center;
    height: 150px;
    color:#033048;
}

ul{
    list-style: none;
    color: #033048;
}

.title_one>h1{
    color: #033048;
}

.title_two>h1{
    color: #033048;
}

article>p::first-letter{
    font-size: 500%;
    color:#033048;
}

article>a{
    text-decoration: none;
    float: right;
}



.title_two{
    padding-top: 60px;
    padding-bottom: 60px;
}

.Sign_up_part{
    background-color: yellow;
    align-items: center;
    display: flex;
    height: cover;
    width: cover;
    justify-content: center;
    padding: 15px;
    margin: 0;
}

.Sign_up_part>button{
    border-radius: 60px;
    background-color: blue;
    color: white;
    padding: 15px;
    font-weight: 600    ;
}

.footer{
    background-color: black;
    align-items: center;
    color: white;
    text-align: center;
    padding:2px;
}
.footer>div:first-child{
    color: yellow;
    font-size: 40px;
    font-weight: 800;
}

